"atom-text-editor[data-grammar~='latex']":
  "[": "latex-shape-completion:check-display-math"
  ":": "latex-shape-completion:complete-greek"
  ";": "latex-shape-completion:complete-shape"
  "@": "latex-shape-completion:complete-font"
  "ctrl-c b":  "latex-shape-completion:insert-begin"
  "ctrl-c s":  "latex-shape-completion:complete-section"
  "ctrl-c m":  "latex-shape-completion:complete-maketitle"
  "ctrl-c c":  "latex-shape-completion:change"
  "ctrl-c k":  "latex-shape-completion:kill-tex"

"body.platform-darwin atom-text-editor[data-grammar~='latex']":
  "cmd-enter": "latex-shape-completion:newline"

"body:not(.platform-darwin) atom-text-editor[data-grammar~='latex']":
  "ctrl-enter": "latex-shape-completion:newline"
